body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000; /* Цвет фона */
}

.zagolovok {
    color: black;
    text-align: center;
    font-size: 30px;
    padding-top: 200px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: 600
}

.rounded-rectangle {
    width: 800px; /* Ширина прямоугольника */
    height: 500px; /* Высота прямоугольника */
    background-color: #ff0000; /* Цвет прямоугольника */
    border-radius: 20px; /* Радиус закругления краев */
}



.glow-on-hover {
    margin-top: 100px;
    transition: transform 4s 1s;
    margin-left: 350px;
    width: 120px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #2bff00;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    position: absolute; 
    top: -2px;
    left:-2px;
    background-size: 40;
    z-index: -1;
    filter: blur(5px);
    width: calc(100%);
    height: calc(100%); 
    animation: glowing; 
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

